@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

/* Custom styles */
.input {
    @apply border border-gray-300 p-1 rounded w-full flex flex-1;
  }
  
  .btn {
    @apply bg-blue-500 text-white p-2 rounded hover:bg-blue-700;
  }
  
  .loan-card, .payment-card {
    @apply border border-gray-300 p-4 rounded mb-4;
  }